.page {
    height: 100%;
    width: 100%;
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    font-family: Inter, "Segoe UI", "Helvetica Neue", sans-serif;
}

.title {
    font-size: 3rem;
    text-align: center;
    font-family: Tiempos, serif;
}

.description {
    text-align: center;
    max-width: 32rem;
    margin: 20px 0;
    color: rgb(75, 85, 99);
}

.uploadButton {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px dashed rgb(214, 211, 209);
    height: 350px;
    width: 275px;
    background: #fff;
}

.icon {
    width: 32px;
    height: 32px;
}

.uploadButtonText {
    margin-top: 12px;
    font-size: 14px;
}

.uploadButton input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.buttons {
    display: flex;
    gap: 12px;
    margin-bottom: 20px;
    margin-top: 25px;
}

.document {
    display: flex;
    gap: 24px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.pageContainer {
    padding: 12px 12px 24px 12px;
    cursor: pointer;
    overflow: hidden;
    background-color: #fff;
    overflow: hidden;
    position: relative;
}

.pdfPage {
    height: 266px;
    width: 176px;
}

.pageContainer:hover {
    background-color: rgb(249, 250, 251)!important;
}

.pageNumber {
    text-align: center;
    font-size: 12px;
    font-style: italic;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 12px;
}

.rotateButton {
    position: absolute;
    right: 5px;
    top: 5px;
    background: rgb(255, 97, 47);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
}

.rotateButton:hover {
    transform: scale(1.1);
}

.rotateButtonSvg {
    width: 12px;
    height: 12px;
    fill: #fff;
}

.add {
    background: url("./add.svg") center / cover no-repeat;
    width: 20px;
    height: 20px;
}

.dec {
    background: url("./dec.svg") center / cover no-repeat;
    width: 20px;
    height: 20px;
}

.downloadButton {
    margin-top: 20px;
}

.tip {
    position: relative;
    padding: 10px 12px;
    margin-bottom: 8px;
    white-space: nowrap;
    border-radius: 4px;
    font-size: 12px;
    color: white;
    background-color: rgb(40, 40, 39);
}

.tip .triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid rgb(40, 40, 39);
    left: 50%;
    transform:translate(0, -50%);
    bottom: -8px;
}